
 body
{
    background-color: rgba(136, 203, 171);
    background: linear-gradient(0deg,rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    color: #fff;
    font-family: 'merriweather',serif;
    padding: 0;
    
}
/*
 h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
  h1 {
      font-size: 7em;
      margin: 2em 4rem 1em;
      text-shadow: 5px 5px 10px #001833;
  }
}

h2 {
  border-bottom: 1px solid #cc1;
  font-family: 'Oxygen', Sans-Serif;
  font-size: 3em;
  color: #fff;
}

p {
  line-height: 1.6em;
  color: #eee;
}

---- Layout Rules ----
main {
  margin: 10vh 1em 10vh;
}

.p-header2 {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
}


---- Module Rules ---- */

/* Navigation Styles
.navbar-menu ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-nav {
  display: block;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #001833;
  border-left: 2px solid whitesmoke;
}

@media (max-width: 510px) {
  .menu-nav {
      font-size: 0.7em;
  }
}

.menu-nav:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
  cursor: pointer;
}

.active-link {
  background-color: rgb(124, 107, 95);
}

Header Styles
.p-header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0 3px 5px #001833;
}

FontAwesome button to scroll to top
.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  box-shadow: 1px 1px 2px #001833;
  background-color: rgb(90, 50, 124);
  font-size: 20px;
  list-style: none;
  border-radius: 20%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



Footer Styles
.the-footer {
  background: #001833;
  padding: 1em 1em;
}

.the-footer p{
  color: #fff;
  font-size: 2em;
}


---- Theme Rules ---- */
/* Landing Container Styles
.container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em){
  .container {
      max-width: 50em;
      padding: 4em;
  }
}

section:nth-of-type(even) .container {
  margin-right: 0;
  margin-left: auto;
  text-align: right; 
}


---- Theme State Rules ---- */
/* Section Active Styles
section.ac {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
.your-active-class { 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3 s ease-in-out;
  ;
}
section.ac h2 {
  text-shadow: 3px 3px 5px #001833;
}

section.ac p {
  color: white;
}
*/

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
  h1 {
      font-size: 7em;
      margin: 2em 4rem 1em;
      text-shadow: 5px 5px 10px #001833;
  }
}

h2 {
  border-bottom: 1px solid #cc1;
  font-family: 'Oxygen', Sans-Serif;
  font-size: 3em;
  color: #fff;
}

p {
  line-height: 1.6em;
  color: #eee;
}

/* ---- Layout Rules ---- */
main {
  margin: 10vh 1em 10vh;
}

.p-header2 {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
  padding-right:50PX ;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar-menu ul {
  padding-left: 0;
  padding-right: 0px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.menu-nav {
  display: block;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #001833;
  border-left: 2px solid whitesmoke;
}

@media (max-width: 510px) {
  .menu-nav {
      font-size: 0.7em;
  }
}

.menu-nav:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
  cursor: pointer;
}

.active-link {
  background-color: rgb(68, 159, 165);
}

/* Header Styles */
.p-header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0 3px 5px #001833;
}

/* FontAwesome button to scroll to top */
.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  box-shadow: 1px 1px 2px #001833;
  background-color: rgb(85, 37, 128);
  font-size: 25px;
  list-style: none;
  border-radius: 20%;
  color: white;
  border: none;
}

.btn-top {
  display: none;
}

/* Footer Styles */
.the-footer {
  background: #001833;
  padding: 1em 1em;
}

.the-footer p{
  color: #fff;
  font-size: 2em;
  text-align: center;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em){
  .container {
      max-width: 50em;
      padding: 4em;
  }
}

section:nth-of-type(even) .container {
  margin-right: 0;
  margin-left: auto;
  text-align: right; 
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.ac {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.ac h2 {
  text-shadow: 3px 3px 5px #001833;
}

section.ac p {
  color: white;
}
.your-active-class { 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3 s ease-in-out;
  ;
}






